[system-requirements]
linux = "3.10"
libc = "2.17"

[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64"]
name = "hrd_tools"
version = "0.0.1.dev"

[pypi-dependencies]
hrd_tools = { path = ".", editable = true }

[environments]
default = { features = ["reduction"], solve-group = "default" }
xrt = { features = ["xrt", "reduction"], solve-group = "default" }
glow = { features = ["glow", "xrt"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }
shell = { features = ["shell"], no-default-feature = true }
lint = { features = ['lint'], no-default-feature = true }
tiled = { features = ['tiled'] }
bluesky = ["bluesky"]

[tasks]

[dependencies]
ipython = ">=8.36.0,<10"
cycler = ">=0.12.1,<0.13"
distro = ">=1.9.0,<2"
tomli-w = ">=1.2.0,<2"
python = ">=3.11.11,<3.14"
jinja2 = ">=3.1.6,<4"
ipykernel = ">=6.30.1,<7"


[feature.shell.dependencies]
xonsh = "*"
jedi = ">=0.19.2,<0.20"

[feature.shell.pypi-dependencies]
xontrib-jedi = "*"
xontrib-vox = "*"

[feature.glow.dependencies]
pyqt = "<6"
pyqtwebengine = ">=5.15.9,<6"
pyopengl = ">=3.1.9,<4"

[feature.docs.dependencies]
numpydoc = "*"
sphinx-copybutton = ">=0.5.2,<0.6"
myst-parser = ">=4.0.0,<5"
sphinx = ">=8.1.3,<9"
sphinxcontrib-jquery = ">=4.1,<5"

[feature.reduction.dependencies]
h5py = ">=3.12.1,<4"
matplotlib = "*"
pyopencl = ">=2024.3,<2026"
python = ">=3.11.11,<3.14"
pytools = "<2026"
scipy = ">=1.15.1,<2"
silx = "*"
ipykernel = ">=6.29.5,<7"
ipympl = ">=0.9.6,<0.10"
jupytext = ">=1.16.6,<2"
pandas = '*'
tiled = ">=0.1.0b17"
pymatgen = ">2025"
scikit-image = ">=0.25.2,<0.26"

[feature.reduction.target.linux-64.dependencies]
pocl = "*"

[feature.reduction.pypi-dependencies]
multianalyzer = { git = "https://github.com/kif/multianalyzer.git" }
multihead = { git = "https://github.com/tacaswell/multihead.git" }

[feature.xrt.pypi-dependencies]
xrt = { git = "https://github.com/kklmn/xrt.git" }

[feature.xrt.dependencies]
pyopencl = ">=2024.3,<2026"
numpy = ">=2.1.1,<3"
pandas = ">=2.2.3,<3"
tqdm = ">=4.67.1,<5"
h5py = ">=3.12.1,<4"
pyside6 = ">=6.9.1,<7"

[feature.bluesky.dependencies]
bluesky = ">=1.13.1rc2,<2"
ophyd = ">=1.10.0,<2"

[feature.lint.dependencies]
ruff = "*"

[feature.lint.tasks]
check = "ruff check --fix --exclude=sims --exclude=design_scripts/CDR"
format = "ruff format --exclude=sims --exclude=design_scripts/CDR"
lint = { depends-on = ["format", "check"] }

[feature.tiled.dependencies]
tiled = "*"
h5py = "*"


[feature.tiled.tasks]
tiled_serve = { cmd = "tiled serve config config.yml --public", cwd = "tiled", env = { TILED_API_KEY = 'secret' } }
tiled_register = { cmd = "python register_helper.py /nsls2/data3/projects/next_iiia_hrd/xrt_output/", cwd = 'tiled', env = { TILED_API_KEY = 'secret' } }
